/* ----전체css영역---- */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
$baseURL: "https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images";
body {
  font-family: "Noto Sans KR", sans-serif;
}

.none {
  display: none;
}
/* -------div"cont"중 공통css영역------- */

p.cont-text {
  text-align: center;
}

.button:hover {
  background-color: #f18b24;
  border: 1px solid #f18b24;
  box-shadow: 0px 10px 10px rgba(197, 105, 0, 0.288);
  color: #fff;
  cursor: pointer;
}

.button:hover p {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button {
  text-align: center;
  background-color: #fff;
  border: 1px solid #f15e24;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
  color: #f15e24;
  display: inline-block;
  font-size: 1.1em;
  padding: 0.8em 3em;
  border-radius: 30px;
}

.button p {
  font-size: 0.8em;
  color: rgb(54, 54, 54);
}
/* ------cont1 영역------- */

.cont1 {
  margin-top: 55px;
  background-image: url("#{$baseURL}/cont2-background3.jpg");
  padding: 5em 0;
}

.cont1 .slide-box::after {
  clear: both;
  content: "";
  display: block;
}

.cont1 p {
  font-size: 1.6em;
  line-height: 1.5em;
  color: snow;
}

.cont1 a p {
  font-size: 0.8em;
}

.cont1 p span {
  font-weight: 700;
  color: snow;
}

p.cont1-text {
  text-align: center;
}

.cont1-button .cont-inner {
  width: 65%;
  margin: 0 auto;
}

.cont1-button .button {
  text-align: center;
  box-sizing: border-box;
  padding: 0.8em 1.5em;
  border-radius: 20px;
}

.cont1 .button:hover {
  border: 1px solid #f18b24;
}

p.button-text {
  margin-top: 1em;
}
/*--메인창 슬라이드 영역---*/
/* ------cont2 영역------- */

.cont2--container:after {
  clear: both;
  content: "";
  display: block;
}
/* ------cont3 영역------- */

.counter--text {
  font-family: "Nanum Gothic", sans-serif;
  display: inline-block;
  box-sizing: border-box;
  font-size: 2.6rem;
}

.cont3:after {
  clear: both;
  content: "";
  display: block;
}

.cont3-text {
  padding-bottom: 3em;
}

.cont3 .counter--box {
  float: left;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
}

.cont3 .counter--cont {
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 100;
}

.cont3 .counter--text {
  color: #ff7220;
  font-weight: 600;
  font-size: 40px;
}

.cont3 .unit {
  display: inline-block;
  font-size: 35px;
}

.cont3 .mobile {
  margin-top: 5em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.cont3 span.line {
  width: 30px;
  height: 2px;
  color: #f18b24;
  display: block;
}

/* ------cont6 영역------- */

.cont6 .cont--inner:after {
  clear: both;
  content: "";
  display: block;
}

.process {
  text-align: center;
}

.process .cont6--image {
  display: inline-block;
}

.cont6 .button {
  background-color: #fff;
}

.cont6 .button:hover {
  background-color: #f18b24;
}
/*------------ cont7 ------------*/

.cont7 {
  padding: 3em 0;
  text-align: center;
}
/*------------ cont8 ------------*/

.cont8 .button {
  background-color: #fff;
}

.cont8 .button:hover {
  background-color: #f18b24;
}
/*------------ cont9 ------------*/

.cont9 {
  padding: 3em 0;
  text-align: center;
}

//희중짠거
.simpleOrder__checkbox {
  margin-bottom: 0 !important;
}

.simple__input {
  border: 0.5px solid #c4c4c4;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 2.8125rem;
  max-width: 100%;
  width: 100%;
  margin-top: 1.5625rem;
  font-size: 0.8125rem;
}

.simple__input:focus {
  background: #ffffff;
}

.simple__textarea {
  border: 0.5px solid #c4c4c4;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  margin-top: 1.5625rem;
  //font-size: 0.8125rem;
}
.simple__textarea:focus {
  background: #ffffff;
}
.cont10__content {
  margin: 0 0 3rem 0;
}
.icon-box:hover {
  transform: scale(1.07);
  transition: all 0.15s ease-in-out;
}
.simple__textarea::placeholder {
  padding-top: 1.875rem;
  padding-left: 0.5rem;
}
