@media screen and (min-width: 0px) and (max-width: 1023px) {
  .cont1-button .button {
    width: 100%;
    margin: 2% 0;
  }
  .process {
    width: 50% !important;
    float: left;
  }
  .process .cont2--image {
    width: 60%;
    margin: 0 20%;
  }
  .slide-area {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    height: 270px;
  }
  #ticker {
    float: left;
    width: 250px;
  }
  p.slidetext {
    position: absolute;
    right: calc(50% - 104px);
    bottom: 0;
    font-size: 2em;
  }
  .cont1 .slide-box {
    position: absolute;
    width: 100vw;
    top: 0;
    text-align: center;
    /* left: calc(50% - 384px); */
    margin-left: calc(50% - 160px);
  }
  .block-line {
    border: 4px solid #fff;
    background-color: rgba(17, 17, 17, 0.527);
    margin: 20px;
    height: 51px;
    padding: 0 20px;
    position: relative;
    left: 30px;
    top: 53px;
    width: 230px;
    float: left;
  }
  .block {
    position: absolute;
    left: 0%;
  }
  .block li a {
    font-size: 1.3em;
    display: block;
    height: 42px;
    line-height: 30px;
    color: #fff;
    text-align: right;
  }
  .main__cont1 {
    background-size: 150vh !important;
    padding: 3em 0;
  }
  .cont1-button .button {
    width: 100%;
    margin: 0.5em 0;
  }
  .cont1-button {
    margin: 0 auto;
  }
  p.cont1-text {
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.6em;
  }
  .cont3 .counter--box {
    width: 100%;
    margin: 0;
    padding: 2.3em 0;
  }
  .cont3 .box-line {
    border-bottom: 1px solid #ccc;
  }
  .cont3 .counter--cont {
    margin-bottom: 0.3em;
  }
}

@media screen and (min-width: 1024px) {
  .cont1-button .button {
    width: 45%;
    margin: 0 2.3%;
  }
  p.cont1-text {
    margin-top: 2em;
    font-size: 2em;
  }
  .process {
    width: 16.66%;
    float: left;
  }
  .process .cont2--image {
    width: 80%;
    margin: 0 10%;
  }
  .cont1 .slide-box {
    position: relative;
    width: 700px;
    height: 300px;
    margin: 0 auto;
  }
  .slide-area {
    width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 300px;
  }
  #ticker {
    float: left;
    width: 250px;
  }
  .slide-text {
    position: absolute;
  }
  p.slidetext {
    width: 50%;
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    font-size: 2em;
  }
  .block-line {
    border: 4px solid #fff;
    background-color: rgba(17, 17, 17, 0.527);
    margin: 20px;
    height: 50px;
    padding: 0 20px;
    position: absolute;
    left: 30px;
    top: 77px;
    width: 230px;
    float: left;
  }
  .block {
    width: 350px;
    position: absolute;
    overflow: hidden;
    float: left;
  }
  .block li a {
    font-size: 1.5em;
    display: block;
    height: 50px;
    line-height: 40px;
    color: #fff;
    text-align: right;
  }
  .cont3 .counter--box {
    width: 25%;
    margin: 0 4%;
  }
}
