@import "./access.css";
@import "./contact.css";
@import "./index.scss";
@import "./price.css";
@import "./responsive.css";
@import "./stepone.scss";
@import "./steptwo.scss";
@import "./stepthree.scss";
@import "./stepfour.scss";
@import "./stepresult.scss";

#kakao-talk-channel-chat-button {
  visibility: hidden;
  position: fixed;
  top: 80vh;
  right: 5vw;
  cursor: pointer;
  z-index: 5000;
}
