:root {
  --syboml__color: #ff9948;
  --background_color_one: #fff;
  --font_color: #ffa63f;
  --font_stepbar_color: #6d6d6d;
  --font_text_color: #474747;
  --color_step_eclispe: #fff3d2;
  --color_range_bar: #ffc671;
  --color_divider: #ffd18c;
  --color_category_description: #666666;
  --color_button_deactive: #ffffff;
  --color__white: #ffffff;
  --color__tesxt: #23232;
  --color__checked__font: #f18b24;
}

.stepbox__two {
  width: 100%;
  height: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.stepbox__two .stepbar {
  counter-reset: step;
}
.stepbox__two .stepbar li {
  width: 25%;
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #b9cbe8;
  line-height: 3;
}
.stepbox__two .stepbar li:before {
  color: #6d6d6d;
  width: 1.875rem;
  height: 1.875rem;
  font-weight: 500;
  content: counter(step);
  counter-increment: step;
  font-size: 0.0625rem;
  line-height: 1.875rem;
  border: 6px solid #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
  background-color: #fff3de;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.stepbox__two .stepbar li:after {
  width: 100%;
  height: 3px;
  content: "";
  background-color: #ff9948;
  top: 20px;
  left: -50%;
  position: absolute;
  z-index: 1;
}
.stepbox__two .stepbar li:first-child:after {
  content: none;
}
.stepbox__two .stepbar li.step_finished:before {
  background-color: var(--font_color);
  color: var(--color__white);
  border: 6px solid var(--font_color);
}
.stepbox__two .stepbar li.step_active:before {
  background-color: #ff8d33;
  width: 70px;
  border-radius: 20px;
  font-weight: 700;
  color: #f2f2f2;
  border: 6px solid #ff8d33;
  content: "STEP 2";
  font-size: 13px;
}
.stepbox__two .stepbar li.step_highlight:before {
  box-shadow: 0px 0px 5px #ff8d33;
}

.step__container {
  width: 100%;
  max-width: 100%;
  margin-top: 100px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 9rem;
}

.top__divider {
  width: 90%;
  max-width: 100%;
  border: 1px solid var(--color_divider);
  margin: 0rem auto;
}

.service__container {
  margin-top: 0.8125rem;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 10px;
  letter-spacing: -5%;
  font-style: normal;
}

.logistics_service_kinds__container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}
.logistics_service_kinds__container li {
  width: calc((100%-16px) / 1);
  height: 90px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  margin-top: 0.5625rem;
}
.logistics_service_kinds__container li i {
  position: relative;
  bottom: 95%;
  left: 45%;
  color: #ffffff;
}
.logistics_service_kinds__container .logistics_service_kinds__list {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  text-align: start;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.logistics_service_kinds__container .logistics_service_kinds__list-title {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  margin-left: 0.90125rem;
}
.logistics_service_kinds__container .logistics_service_kinds__list-description {
  margin-top: 0.5625rem;
  font-size: 12px;
  font-weight: 500;
  margin-left: 0.90125rem;
}
.logistics_service_kinds__container .logistics_service_kinds__list:hover {
  box-shadow: 0px 0px 5px #ff8d33;
}
.logistics_service_kinds__container .fullfillment.clicked,
.logistics_service_kinds__container .storeproduct.clicked,
.logistics_service_kinds__container .processing.clicked,
.logistics_service_kinds__container .etc.clicked {
  box-shadow: 0px 0px 5px #ff8d33;
}
.logistics_service_kinds__container .fullfillment.clicked span,
.logistics_service_kinds__container .storeproduct.clicked span,
.logistics_service_kinds__container .processing.clicked span,
.logistics_service_kinds__container .etc.clicked span {
  color: var(--color__checked__font);
}

.inputStoreType__radio__groups {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}
.inputStoreType__radio__groups .none {
  visibility: hidden;
}

.inputStoreType__radio__groups li:hover {
  box-shadow: 0px 0px 5px #ff8d33;
}

.inputStoreType__radio__groups li {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: calc((128%-16px) / 3);
  height: 12.5rem;
  margin-left: 0.9375rem;
  margin-top: 0.5625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
.inputStoreType__radio__groups li label {
  display: block;
  position: relative;
  padding-top: 0.625rem;
  padding-left: 0.875rem;
  height: inherit;
  cursor: pointer;
}
.inputStoreType__radio__groups li label div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  text-align: left;
}
.inputStoreType__radio__groups li .pallet {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/processing04.svg") no-repeat center;
}
.inputStoreType__radio__groups li .box {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/processing04.svg") no-repeat center;
}
.inputStoreType__radio__groups li .pallet,
.inputStoreType__radio__groups li .box {
  background-size: 4.375rem 4.375rem;
  background-position: 50% 25%;
}
.inputStoreType__radio__groups li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.inputStoreType__radio__groups li .check {
  position: absolute;
  top: 0.5rem;
  left: 6.5rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--color__white);
  border-radius: 50%;
  border: 2px solid #474747;
}
.inputStoreType__radio__groups li input:checked ~ .check {
  background-color: var(--color__white);
  border-color: var(--color__white);
  border: 1px solid #f18b24;
}
.inputStoreType__radio__groups li .check:after {
  content: "";
  position: absolute;
  display: none;
}
.inputStoreType__radio__groups li label .check:after {
  top: 5px;
  left: 5.1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--syboml__color);
}
.inputStoreType__radio__groups li label input:checked ~ .check:after {
  display: block;
}

.barcode__radio__groups li:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}

.range__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.range__container .range__firstColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.875rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=steptwo.css.map */
