@charset "UTF-8";
:root {
  --syboml__color: #ff9948;
  --background_color_one: #fff;
  --font_color: #ffa63f;
  --font_stepbar_color: #6d6d6d;
  --font_text_color: #474747;
  --color_step_eclispe: #fff3d2;
  --color_range_bar: #ffc671;
  --color_divider: #ffd18c;
  --color_category_description: #666666;
  --color_button_deactive: #ffffff;
  --color__white: #ffffff;
  --color__tesxt: #23232;
}

/* Setion common */
.section {
  text-align: center;
  margin: 120px auto;
}

.section__container {
  max-width: 1024px;
  margin: auto;
}

.square {
  width: 100%;
  max-width: 100%;
  margin: 1.625rem auto;
  height: 11.25rem;
  background-color: #c4c4c4;
}

.stepbox {
  width: 100%;
  height: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.stepbox .stepbar {
  counter-reset: step;
}
.stepbox .stepbar li {
  width: 25%;
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #b9cbe8;
  line-height: 3;
}
.stepbox .stepbar li:before {
  color: #6d6d6d;
  width: 1.875rem;
  height: 1.875rem;
  font-weight: 500;
  content: counter(step);
  counter-increment: step;
  font-size: 0.0625rem;
  line-height: 1.875rem;
  border: 6px solid #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
  background-color: #fff3de;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.stepbox .stepbar li:after {
  width: 100%;
  height: 3px;
  content: "";
  background-color: #ff9948;
  top: 20px;
  left: -50%;
  position: absolute;
  z-index: 1;
}
.stepbox .stepbar li:first-child:after {
  content: none;
}
.stepbox .stepbar li.step_active:before {
  background-color: #ff8d33;
  width: 70px;
  border-radius: 20px;
  font-weight: 700;
  color: #f2f2f2;
  border: 6px solid #ff8d33;
  content: "STEP 1";
  font-size: 13px;
}
.stepbox .stepbar li.step_highlight:before {
  box-shadow: 0px 0px 5px #ff8d33;
}

.divider {
  width: 90%;
  max-width: 100%;
  border: 1px solid var(--color_divider);
  margin: 0rem auto;
}

.stepone__container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.stepone__title {
  color: var(--syboml__color);
  font-weight: 900;
  font-size: 1.125rem;
  margin: 0rem 5%;
}

.stepone__description {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #474747;
  margin: 0rem 5%;
}

.stepone__category {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
  margin: 1.75rem 5%;
}

.stepone__category-title {
  font-size: 1rem;
  font-weight: 700;
}

.stepone__category-description {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  font-style: normal;
  color: var(--color_category_description);
  margin: 0rem 1.5%;
}

.stepone__category-description.both {
  color: #c4c4c4;
}

.stepone__category__list {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.stepone__category__list li {
  width: calc((100%-16px) / 5);
  height: 75px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-left: 0.9375rem;
  margin-top: 0.5625rem;
}
.stepone__category__list li i {
  position: relative;
  bottom: 95%;
  left: 30%;
  color: #ffffff;
}
.stepone__category__list li .stepone__category__list__label__input {
  width: 100%;
  height: inherit;
  border: 0px solid #ffffff;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #474747;
  line-height: 8rem;
}
.stepone__category__list li .clothes {
  background: url("../이미지/catecory01.svg") no-repeat center;
}
.stepone__category__list li .clothes.clicked {
  background: url("../이미지/catecory01(hover).svg") no-repeat center;
}
.stepone__category__list li .stuff {
  background: url("../이미지/catecory02.svg") no-repeat center;
}
.stepone__category__list li .stuff.clicked {
  background: url("../이미지/catecory02(hover).svg") no-repeat center;
}
.stepone__category__list li .beauty {
  background: url("../이미지/catecory03.svg") no-repeat center;
}
.stepone__category__list li .beauty.clicked {
  background: url("../이미지/catecory03(hover).svg") no-repeat center;
}
.stepone__category__list li .householdgoods {
  background: url("../이미지/catecory04.svg") no-repeat center;
}
.stepone__category__list li .householdgoods.clicked {
  background: url("../이미지/catecory04(hover).svg") no-repeat center;
}
.stepone__category__list li .electronics {
  background: url("../이미지/catecory05.svg") no-repeat center;
}
.stepone__category__list li .electronics.clicked {
  background: url("../이미지/catecory05(hover).svg") no-repeat center;
}
.stepone__category__list li .stationery {
  background: url("../이미지/catecory06.svg") no-repeat center;
}
.stepone__category__list li .stationery.clicked {
  background: url("../이미지/catecory06(hover).svg") no-repeat center;
}
.stepone__category__list li .food {
  background: url("../이미지/catecory07.svg") no-repeat center;
}
.stepone__category__list li .food.clicked {
  background: url("../이미지/catecory07(hover).svg") no-repeat center;
}
.stepone__category__list li .etc {
  background: url("../이미지/catecory08.svg") no-repeat center;
}
.stepone__category__list li .etc.clicked {
  background: url("../이미지/catecory08(hover).svg") no-repeat center;
}
.stepone__category__list li .clothes,
.stepone__category__list li .stuff,
.stepone__category__list li .beauty,
.stepone__category__list li .householdgoods,
.stepone__category__list li .electronics,
.stepone__category__list li .stationery,
.stepone__category__list li .food,
.stepone__category__list li .etc {
  background-size: 2.1875rem 2.1875rem;
}
.stepone__category__list li .clothes.clicked,
.stepone__category__list li .stuff.clicked,
.stepone__category__list li .beauty.clicked,
.stepone__category__list li .householdgoods.clicked,
.stepone__category__list li .electronics.clicked,
.stepone__category__list li .stationery.clicked,
.stepone__category__list li .food.clicked,
.stepone__category__list li .etc.clicked {
  background-size: 3.375rem 3.375rem;
  color: #ffffff;
  border: 0;
  outline: 0;
  background-color: #ffa63f;
  border-radius: 10px;
}

.detail__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
  margin: 1.75rem 5%;
}
.detail__container .detail__text__container {
  display: flex;
  flex-direction: column;
}

.detail__input {
  border: 0.5px solid #c4c4c4;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 2.8125rem;
  max-width: 100%;
  width: 100%;
  margin-top: 1.5625rem;
  font-size: 0.8125rem;
}

.detail__input:focus {
  background: #ffffff;
}

.storageType__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
  margin: 0.55rem 5%;
}

.storageType__container__buttons {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.storageType__container__buttons li {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: calc((128%-16px) / 3);
  height: 2.5rem;
  margin-left: 0.9375rem;
  margin-top: 0.5625rem;
}
.storageType__container__buttons li i {
  position: relative;
  bottom: 75%;
  left: 30%;
  color: #ffffff;
}
.storageType__container__buttons li .storageType__container__button {
  width: 100%;
  height: inherit;
  border: 0px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.storageType__container__buttons li .refrigerated_storage {
  background-color: #f2f2f2;
  color: #bfbfbf;
}
.storageType__container__buttons li .fronze_storage {
  background-color: #f2f2f2;
  color: #bfbfbf;
}
.storageType__container__buttons li span {
  font-weight: 500;
  font-size: 0.65rem;
  color: #bfbfbf;
}

.barcode__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
  margin: 2rem 0% 2rem 5%;
}

.barcode-description {
  font-size: 0.695rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  font-style: normal;
  color: var(--color_category_description);
  margin: 0rem 1.5%;
}

.barcode__radio__groups {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}
.barcode__radio__groups .none {
  visibility: hidden;
}

.barcode__radio__groups li {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: calc((128%-16px) / 3);
  height: 2.5rem;
  margin-left: 0.9375rem;
  margin-top: 0.5625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}
.barcode__radio__groups li label {
  display: block;
  position: relative;
  padding-top: 0.625rem;
  padding-left: 0.875rem;
  cursor: pointer;
}
.barcode__radio__groups li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.barcode__radio__groups li .check {
  position: absolute;
  top: 0.5rem;
  left: 1.0525rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--color__white);
  border-radius: 50%;
  border: 2px solid #474747;
}
.barcode__radio__groups li input:checked ~ .check {
  background-color: var(--color__white);
  border-color: var(--color__white);
}
.barcode__radio__groups li .check:after {
  content: "";
  position: absolute;
  display: none;
}
.barcode__radio__groups li label .check:after {
  top: 5px;
  left: 5.1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--syboml__color);
}
.barcode__radio__groups li label input:checked ~ .check:after {
  display: block;
}

.option__container {
  display: flex;
  flex-direction: column;
  margin: 3.25rem 0% 0% 5%;
  text-align: left;
}

.option__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.option__title__container .option__title-title {
  font-size: 1rem;
  font-weight: 700;
}
.option__title__container .option__title-line {
  max-width: 80%;
  width: 100%;
  margin: 0;
  border: 1px solid #bfbfbf;
}

.option__description {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  font-style: normal;
  color: #666666;
  margin-top: 0.375rem;
  margin: 0rem 1.5%;
}

.productURL__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
  margin: 1.75rem 5%;
}
.productURL__container .productURL__text__container {
  display: flex;
  flex-direction: column;
}
.productURL__container .productURL__input {
  border: 0.5px solid #c4c4c4;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 2.8125rem;
  max-width: 100%;
  width: 100%;
  margin-top: 1.5625rem;
  font-size: 0.8125rem;
}
.productURL__container .productURL__input:focus {
  background: #ffffff;
}

.productURL__description {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  font-style: normal;
  color: var(--color_category_description);
  margin: 0rem 1.5%;
}

.productCaution__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
  margin: 1.75rem 5%;
}
.productCaution__container .productCaution__title__container {
  display: flex;
  flex-direction: column;
}

.productCaution__subDescription {
  font-weight: 500;
  font-size: 0.875rem;
  color: #a3a3a3;
  margin-top: 0.25rem;
}

.productCaution__list {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}
.productCaution__list li {
  width: calc((130%-16px) / 3);
  height: 109px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-left: 0.9375rem;
  margin-top: 0.5625rem;
}
.productCaution__list li i {
  position: relative;
  bottom: 90%;
  left: 35%;
  color: #ffffff;
}
.productCaution__list .productCaution__list__btn {
  width: 100%;
  height: inherit;
  border: 0px solid #ffffff;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 0.6875rem;
  color: #474747;
  line-height: 11.5rem;
  border-radius: 10px;
}
.productCaution__list .fragile {
  background: url("../이미지/warning01.svg") no-repeat center;
}
.productCaution__list .fragile.clicked {
  background: url("../이미지/warning01(hover).svg") no-repeat center;
}
.productCaution__list .discoloration {
  background: url("../이미지/warning02.svg") no-repeat center;
}
.productCaution__list .discoloration.clicked {
  background: url("../이미지/warning02(hover).svg") no-repeat center;
}
.productCaution__list .highprice {
  background: url("../이미지/warning03.svg") no-repeat center;
}
.productCaution__list .highprice.clicked {
  background: url("../이미지/warning03(hover).svg") no-repeat center;
}
.productCaution__list .fitness_product {
  background: url("../이미지/warning04.svg") no-repeat center;
}
.productCaution__list .fitness_product.clicked {
  background: url("../이미지/warning04(hover).svg") no-repeat center;
}
.productCaution__list .largefurniture {
  background: url("../이미지/warning05.svg") no-repeat center;
}
.productCaution__list .largefurniture.clicked {
  background: url("../이미지/warning05(hover).svg") no-repeat center;
}
.productCaution__list .fragile,
.productCaution__list .discoloration,
.productCaution__list .highprice,
.productCaution__list .fitness_product,
.productCaution__list .largefurniture {
  background-size: 3.75rem 3.75rem;
}
.productCaution__list .fragile.clicked,
.productCaution__list .discoloration.clicked,
.productCaution__list .highprice.clicked,
.productCaution__list .fitness_product.clicked,
.productCaution__list .largefurniture.clicked {
  color: #ffffff;
  border: 0;
  outline: 0;
  background-color: #ffa63f;
  background-size: 3.75rem 3.75rem;
}
.productCaution__list .position {
  visibility: hidden;
}

.stepBtn {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 9vh;
  bottom: 0%;
  background-color: var(--color__white);
  opacity: 0.9;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stepBtn .stepBtn__nextBtn {
  margin-right: 0.9375rem;
}
.stepBtn .stepBtn__preBtn {
  margin-left: 0.9375rem;
  visibility: hidden;
}
.stepBtn .stepBtn__nextBtn,
.stepBtn .stepBtn__preBtn {
  background: var(--brand_color);
  width: 7.5rem;
  height: 2.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: 2px solid #ff9948;
  color: var(--font_color);
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  cursor: pointer;
}
.stepBtn .stepBtn__nextBtn:hover,
.stepBtn .stepBtn__preBtn:hover {
  background: var(--syboml__color);
  color: var(--color__white);
  border: 0px;
}

@media screen and (min-width: 768px) {
  .square {
    max-width: 100%;
    height: 19.25rem;
  }

  .stepone__category {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .stepone__category-description {
    margin-left: 1.875rem;
  }

  .stepone__category__list li {
    width: calc((100%-16px) / 10);
    height: 6.875rem;
  }
  .stepone__category__list li .stepone__category__list__label__input {
    line-height: 11.5rem;
  }
  .stepone__category__list li .clothes,
.stepone__category__list li .stuff,
.stepone__category__list li .beauty,
.stepone__category__list li .householdgoods,
.stepone__category__list li .electronics,
.stepone__category__list li .stationery,
.stepone__category__list li .food,
.stepone__category__list li .etc {
    background-size: 3.375rem 3.375rem;
  }
  .stepone__category__list li .clothes.clicked,
.stepone__category__list li .stuff.clicked,
.stepone__category__list li .beauty.clicked,
.stepone__category__list li .householdgoods.clicked,
.stepone__category__list li .electronics.clicked,
.stepone__category__list li .stationery.clicked,
.stepone__category__list li .food.clicked,
.stepone__category__list li .etc.clicked {
    background-size: 3.375rem 3.375rem;
  }

  .detail__container {
    display: flex;
  }
  .detail__container .detail__text__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  .storageType__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .storageType__container .stepone__category-description.both {
    margin-left: -1.4%;
    color: #666666;
  }

  .storageType__container__buttons li {
    width: calc((128%-16px) / 6);
    height: 2.8125rem;
  }

  .barcode__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5625rem;
  }
  .barcode__container .barcode-description {
    margin-left: 1.1875rem;
  }

  .barcode__radio__groups li {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: calc((128%-16px) / 4.4);
    height: 2.5rem;
  }

  .option__title__container .option__title-line {
    max-width: 92%;
  }

  .option__description {
    margin: 0;
  }

  .productURL__container .productURL__text__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  .productCaution__container .productCaution__title__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .productCaution__container .productCaution__title__container .productURL__description {
    margin-left: 1.875rem;
  }

  .productCaution__list li {
    width: calc((104%-16px) / 6);
    height: 130px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-left: 0.9375rem;
    margin-top: 0.5625rem;
  }
  .productCaution__list li .productCaution__list__btn {
    line-height: 13.5rem;
  }

  .stepBtn {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 9vh;
    bottom: 0%;
    background-color: var(--color__white);
    opacity: 0.9;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .square {
    max-width: 1024px;
    height: 19.25rem;
  }

  .stepone__progress__bar:before {
    width: 100%;
  }
}
@media screen and (min-width: 414px) {
  .barcode-description {
    font-size: 0.875rem;
  }
}

/*# sourceMappingURL=stepone.css.map */
