:root {
    --background_color_one: #fff;
    --brand_color: #ff9948;
    --font_color: #ffa63f;
    --font_stepbar_color: #6d6d6d;
    --font_text_color: #474747;
    --color_step_eclispe: #fff3d2;
    --color_range_bar: #ffc671;
    --color_divider: #ffd18c;
    --color_category_description: #666666;
    --color_button_deactive: #ffffff;
}
$complete: #f68e20;
$active: #ff9948;
$mute: #e6e6e6;

.wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_one);
    min-height: 10rem;
}
.inner {
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    height: inherit;
}
.inner__fixed {
    width: 100%;
    max-width: 62rem;
}
#navbar {
    width: 100%;
    max-width: 62rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
}
.navbar__menu__item {
    padding: 7px;
    margin: 0 20px;
    list-style: none;
    font-size: 0.94rem;
    font-weight: 500;
    cursor: pointer;
}
.navbar__menu__item.border {
    padding: 7px 18px;
    border: 1px solid var(--brand_color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    color: var(--font_color);
    font-weight: 700;
    font-size: 1rem;
}
.navbar__logo {
    margin: 1rem;
    cursor: pointer;
    background: url(../images/horizontal-logo.png);
}
.logo {
    width: 10.44rem;
    height: 2.5rem;
}

.stepbar {
    width: 62rem;
    max-width: 62rem;
    counter-reset: step;
}
.stepbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    font-weight: 600;
}

.square {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 19.25rem;
    background-color: #c4c4c4;
}

.divider {
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--color_divider);
    margin: 2.6rem auto 0.5rem;
}

.stepone__container {
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.stepone__title {
    color: var(--brand_color);
    font-weight: 900;
    font-size: 1.125rem;
}
.stepone__description {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #474747;
}

.stepone__category {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    align-items: center;
}
.stepone__category-title {
    font-size: 1rem;
    font-weight: 700;
    margin-right: 1.875rem;
}
.stepone__category-description {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.05em;
    font-style: normal;
    color: var(--color_category_description);
}

.stepone__category__buttons button {
    width: 6.875rem;
    height: 6.875rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0px solid #ffffff;
    margin-right: 0.737rem;
    margin-top: 1.625rem;
    font-size: 0.0625rem;
    font-weight: 400;
    line-height: 19;
    cursor: pointer;
}

.stepone__category__buttons.clothes {
    background: url("../images/buttons/catecory01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.clothes.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory01(hover).svg");
    color: #ffffff;
}

.stepone__category__buttons.stuff {
    background: url("../images/buttons/catecory02.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.stuff.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory02(hover).svg");
    color: #ffffff;
}

.stepone__category__buttons.beauty {
    background: url("../images/buttons/catecory03.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.householdgoods {
    background: url("../images/buttons/catecory04.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.electronics {
    background: url("../images/buttons/catecory05.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.stationery {
    background: url("../images/buttons/catecory06.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.food {
    background: url("../images/buttons/catecory07.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}
.stepone__category__buttons.etc {
    margin-right: 0rem !important;
    background: url("../images/buttons/catecory07.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.375rem 3.375rem;
}

.stepone__category__buttons.beauty.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory03(hover).svg");
    color: #ffffff;
}
.stepone__category__buttons.householdgoods.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory04(hover).svg");
    color: #ffffff;
}
.stepone__category__buttons.electronics.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory05(hover).svg");
    color: #ffffff;
}
.stepone__category__buttons.stationery.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory06(hover).svg");
    color: #ffffff;
}
.stepone__category__buttons.food.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory07(hover).svg");
    color: #ffffff;
}
.stepone__category__buttons.etc.clicked {
    background-color: #ffa63f;
    background-image: url("../images/buttons/catecory07(hover).svg");
    color: #ffffff;
}

.steopone__detailProduct {
    display: flex;
    flex-direction: row;
    margin-top: 5.5rem;
    align-items: center;
}

.stepone_detailProduct__input {
    border: 0.5px solid #c4c4c4;
    background: #f2f2f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 2.8125rem;
    max-width: 100%;
    margin-top: 1.5625rem;
    font-size: 0.8125rem;
}
.stepone_detailProduct__input::placeholder {
    color: #bfbfbf;
    font-size: 0.8125rem;
}
.stepone__storagetype {
    display: flex;
    flex-direction: row;
    margin-top: 5.5rem;
    align-items: center;
}

.stepone__storagetype__buttons button {
    width: 14.75rem;
    height: 2.8125rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: 0px solid #ffffff;
    margin-right: 0.55rem;
    margin-top: 1.625rem;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    padding-left: 2.1875rem;
    color: var(--font_text_color);
    cursor: pointer;
    background: #ffffff;
}
.stepone__storagetype__buttons button.refrigerated_storage {
    background-color: #f2f2f2;
    color: #bfbfbf;
    font-weight: 400;
}
.stepone__storagetype__buttons button.fronze_storage {
    background-color: #f2f2f2;
    color: #bfbfbf;
    font-weight: 400;
}

.stepone__storagetype__buttons button.room_temperature.clicked {
    background-color: #ffa63f;
    color: var(--color_button_deactive);
    font-weight: 400;
}
.stepone__storagetype__buttons button.low_temperature.clicked {
    background-color: #ffa63f;
    color: var(--color_button_deactive);
    font-weight: 400;
}

.stepone__storagetype__span {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    color: #a3a3a3;
    margin-left: 31.66rem;
}

.stepone__havebarcode {
    display: flex;
    flex-direction: row;
    margin-top: 5.5rem;
    align-items: center;
}

//icon
.fa-check.checked {
    margin-left: 5.625rem;
    color: var(--color_button_deactive);
}
.fa-check.category_checked {
    color: var(--color_button_deactive);
    z-index: 3;
}
.test {
}
.stepone__havebarcode__radio__groups {
    margin-top: 1.5625rem;
    display: flex;
    flex-direction: row;
}
.stepone__havebarcode__radio__groups__radio {
    margin-left: 6rem;
    width: 19.6875rem;
    height: 2.8125rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9375rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-right: 1.4375rem;
    cursor: pointer;
}

.stepone__havebarcode__radio__groups input {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 1rem;
    margin-right: 6rem;
}

// input[type="radio"]:checked {
//     appearance: none;
//     border-radius: 20px;
//     border: 1.5px solid #ff9948;
//     box-sizing: border-box;
//     background-color: #ffa63f;
// }

.stepone__option {
    display: flex;
    flex-direction: row;
    margin-top: 5.5rem;
    align-items: center;
}
.stepone__option-title {
    font-size: 1rem;
    font-weight: 700;
}
.stepone__option-line {
    max-width: 58rem;
    width: 58rem;
    margin: 0;
    border: 1px solid #bfbfbf;
}
.stepone__option-description {
    font-weight: 500;
    font-size: 0.875rem;
    font-style: normal;
    color: #666666;
    margin-top: 0.375rem;
}

.stepone__productURL {
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
}
.stepone__productURL__header {
    display: flex;
    flex-direction: row;
}

.stepone__productURL__input {
    border: 0.5px solid #c4c4c4;
    background: #f2f2f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 2.8125rem;
    max-width: 100%;
    margin-top: 1.5625rem;
    font-size: 0.8125rem;
}
.stepone__productURL__input::placeholder {
    color: #bfbfbf;
    font-size: 0.8125rem;
}

.stepone__cautionProduct {
    margin-top: 4.9375rem;
    display: flex;
    flex-direction: column;
}
.stepone__cautionProduct__header {
    display: flex;
    flex-direction: row;
}
.stepone__cautionProduct-subDescription {
    font-weight: 500;
    font-size: 0.875rem;
    color: #a3a3a3;
    margin-top: 0.25rem;
}

.stepone__cautionProduct__buttons input {
    width: 11.5625rem;
    height: 8.125rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0px solid #ffffff;
    margin-right: 0.626rem;
    margin-top: 1.625rem;
    font-size: 0.9375rem;
    font-weight: 400;
    cursor: pointer;
    line-height: 14rem;
}
.fa-check.caution_checked {
    position: absolute;
    margin-top: 1.875rem;
    margin-left: 9.375rem;
    color: var(--color_button_deactive);
}
.stepone__cautionProduct__button {
    display: inline;
}

.stepone__cautionProduct__buttons.fragile {
    background: url("../images/buttons/catecory01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.375rem 4.375rem;
    margin-top: 20px;
}
.stepone__cautionProduct__buttons.discoloration {
    background: url("../images/buttons/catecory01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.375rem 4.375rem;
    margin-top: 20px;
}
.stepone__cautionProduct__buttons.highprice {
    background: url("../images/buttons/catecory01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.375rem 4.375rem;
    margin-top: 20px;
}
.stepone__cautionProduct__buttons.fitness_product {
    background: url("../images/buttons/catecory01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.375rem 4.375rem;
    margin-top: 20px;
}
.stepone__cautionProduct__buttons.largefurniture {
    background: url("../images/buttons/catecory01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.375rem 4.375rem;
    margin-top: 20px;
}
