:root {
    --background_color_one: #fff;
    --brand_color: #ff9948;
    --font_color: #ffa63f;
}

.wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_one);
    min-height: 10rem;
}
.inner {
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    height: inherit;
}
#navbar {
    position: fixed;
    width: 100%;
    max-width: 62rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
}
.navbar__menu__item {
    padding: 7px;
    margin: 0 20px;
    list-style: none;
    font-size: 0.94rem;
    font-weight: 500;
    cursor: pointer;
}
.navbar__menu__item.border {
    padding: 7px 18px;
    border: 1px solid var(--brand_color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    color: var(--font_color);
    font-weight: 700;
    font-size: 1rem;
}
.navbar__logo {
    margin: 1rem;
    cursor: pointer;
}
.logo {
    width: 10.44rem;
    height: 2.5rem;
}
